<table width="100%" cellpadding="0" cellspacing="0" border="0">
    <tbody>
    <tr>
        <td width="100%">
            <div style="max-width:800px;Margin:0 auto">
                <table
                        align="center"
                        cellpadding="0"
                        cellspacing="0"
                        style="border-spacing:0;font-family:gt-eesti,ArialMT,Helvetica,Arial,sans-serif;Margin:0 auto;padding:15px;width:100%;max-width:800px"
                >
                    <tbody>
                    <tr>
                        <td style="text-align:justify;word-break:break-word">
                            <table style="margin-bottom:20px;width:100%" width="100%">
                                <tbody>
                                <tr>
                                    <td>
                                        <table
                                                style="width:100%;margin-bottom:20px"
                                                width="100%"
                                                cellpadding="0"
                                                cellspacing="0"
                                        >
                                            <tbody>
                                            <tr>
                                                <td>
                                                    <h1
                                                            style="font-size:18px;line-height:30px;color:#073F5C;word-break:normal; text-align: center"
                                                    >
                                                        Recuperar contraseña
                                                    </h1>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <center>
                                            <table
                                                    style="background-color:#fff;margin-bottom:20px;table-layout:fixed"
                                                    align="center"
                                                    width=""
                                                    cellspacing="0"
                                                    cellpadding="0"
                                            >
                                                <tbody>
                                                <tr>
                                                    <td
                                                            style="color: #2d2d2d;"
                                                    >
                                                        <p>
                                                            <span style="font-size: 14px; font-weight: bold;"><%= company %></span>
                                                        </p>
                                                        <p>
                                                            ¿Has olvidado tu contraseña?
                                                        </p>
                                                        <p>
                                                            Hola <%= name %> <%= lastName %>, solicitaste restablecer tu contraseña, puedes volver a iniciar sesión en nuestro sistema con los siguientes datos:
                                                        </p>
                                                        <div>
                                                            <table>
                                                                <tr>
                                                                    <th style="text-align: left;"><strong>Usuario:</strong></th>
                                                                    <th style="text-align: left;"><%= email %></th>
                                                                </tr>
                                                                <tr>
                                                                    <td style="text-align: left;"><strong>Contraseña:</strong></td>
                                                                    <td style="text-align: left;"><%= password %></td>
                                                                </tr>
                                                            </table>
                                                        </div>
                                                        <br>
                                                        <br>
                                                        <p>
                                                            Si tienes problemas para ingresar al sitio con tu nueva contraseña por favor ponte en contacto con  <strong><%= supportEmail %></strong>
                                                        </p>
                                                        <p>
                                                            Muchas gracias!!
                                                        </p>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </center>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                    </tr>
                    <tr>
                        <td>
                            <table width="100%" style="margin-bottom:20px;width:100%">
                                <tbody>
                                <tr>
                                    <td width="100%">
                                        <div
                                                style="width:100%;height:1px;background-color:#ddd"
                                        ></div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>

                    <tr>
                        <td style="text-align:center">
                            <img
                                    src="http://165.232.133.170:8080/app/assets/img/logo-hackick.jpg"
                                    alt="__icon__"
                                    style="display:block;width:11.5rem;height:auto;margin-left:auto;margin-right:auto;margin-bottom:10px"
                                    height="auto"
                            />
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </td>
    </tr>
    </tbody>
</table>
